# Dossiers à ignorer
Sentences/
FULL Lessons/
__pycache__/
**/.DS_Store

# Fichiers vidéo/audio volumineux
*.mp4
*.m4v
*.mkv
*.ac3
*.mpga
*.flac
*.mp3

# Fichiers spécifiques
audio_extrait.mpga
Movies/audio_extrait.mp3
extrait_audio_converted_16bit.flac
Untitled2.ipynb
