h1 {
    color: green;
}

.assimil-title {
  font-weight: normal;
  color: rgba(172,52,62,255);
}

#changeLesson {
  height: 2em;
}

#editor,
textarea {
  width: 500px;
  height: 200px;
  border: 1px solid black;
  padding: 5px;
  overflow: auto;
}
