h1 {
    color: green;
}

body {
  line-height: 1.2;
}

sup {
  vertical-align: top;
  position: relative;
  top: -0.2em;
  color: rgba(172,52,62,255);
}

.assimil-title {
  font-weight: normal;
  vertical-align: middle;
  color: rgba(172,52,62,255);
}

#changeLesson {
  height: 2em;
}

#editor,
textarea {
  width: 500px;
  height: 200px;
  border: 1px solid black;
  padding: 5px;
  overflow: auto;
}
