      french_sentences = [
        "{{french_sentences[0]}}",
        "{{french_sentences[1]}}",
        {% for sentence in french_sentences[2:] %}
            "{{ sentence[2] | safe }}",
        {% endfor %}
      ];


      modified_spanish_sentence = "";
      var current_sentence_id = "";
      
      exercice1_title_index = {{ lesson | length }};
      console.log("exercice1_title_index", exercice1_title_index);

      function playSentence(val) {
        audioRef = "audio/?".concat("lesson_nb=", {{lesson_nb}},"&sentence_nb=", val)
        console.log(audioRef)
        var audioEl = document.getElementById("audioTag");
        audioEl.src = audioRef

        audioEl.load();
        audioEl.play();

      }

      function proceedKeyboard(event) {
        console.log(event.key);
        sentences_number = french_sentences.length;
        id = parseInt(current_sentence_id.substring(3, current_sentence_id.length));
        console.log(id);
        if (event.key == "ArrowUp") {
          id = (id - 1) % sentences_number;
          if (id < 0) {
            id = sentences_number - 1;
            console.log("----- id : ", id)
          }
        } else if (event.key == " ") {
          // Space touch, repeat the sentence with the same id
        } else {
          id = (id + 1) % sentences_number;
        }
        proceedSentence(id);
      }

      function stopKeyboardPropagation(event) {
        console.log("in stopKeyboardPropagation", event);
        event.stopPropagation()
      }
      
      var button = document.getElementById("lesson_nb");
      if (button) {
        button.addEventListener(
            "keydown",
            stopKeyboardPropagation
        );
      }
      
      document.addEventListener(
        "keydown",
        proceedKeyboard
      );


      function toggleFrench() {
        var button = document.getElementById("toggleAll");
        if (button.value == "S") {
          button.value = "T";
          button.innerHTML = "En mode traduction";
          precedingNode = document.getElementById(current_sentence_id);
          modified_spanish_sentence = precedingNode.innerHTML;
          precedingNode.innerHTML = french_sentences[parseInt(current_sentence_id.substring(3, current_sentence_id.length))];
        } else {
          button.value = "S";
          button.innerHTML = "En mode son";
          if (modified_spanish_sentence) {
            precedingNode = document.getElementById(current_sentence_id);
            precedingNode.innerHTML = modified_spanish_sentence;
            playSentence(parseInt(current_sentence_id.substring(3, current_sentence_id.length)));

          }

        }
      }
                
      function insertAfter(referenceNode, newNode) {
        referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
      }

      function toggleActiveParagraph(id) {
        value = id.substring(3, id.length);
        let para = document.getElementById(id);
        if ((value <= 1) || (value == exercice1_title_index)){
          para.classList.toggle('activeBox');
          para.classList.toggle('activeH2');
        } else {
          para.classList.toggle('activeP');
          paraElements = para.childNodes;
          paraElements[2].classList.toggle('activeBox');
          paraElements[2].classList.add('normalText');
        }

      }

      function proceedSentence(value, play=true) {
        console.log(value);
        let id = "id_" + value;
          
        console.log(id);
        var button = document.getElementById("toggleAll");

        if (current_sentence_id == "") {
          toggleActiveParagraph(id)
        } else if (!(current_sentence_id == id)) {
          toggleActiveParagraph(current_sentence_id);
          toggleActiveParagraph(id)
       }
        if (button.value === "S") {
          playSentence(value);
        } else {
          if (modified_spanish_sentence) {
            precedingNode = document.getElementById(current_sentence_id);
            precedingNode.innerHTML = modified_spanish_sentence;
          }
          modified_spanish_sentence = clickedNode.innerHTML;
          console.log(modified_spanish_sentence);
          clickedNode.innerHTML = french_sentences[value];
        }
        current_sentence_id = id;
      };


 