<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
    <title>{{ lesson_nb }}</title>
    <link href="{{ url_for('static', path='/styles.css?<?=time()?>') }}" rel="stylesheet">

</head>

<body>
    <h1>Edition de la leçon : {{ lesson_nb }}</a></h1>
    <input type="button" value="G" style="font-weight: bold;" onclick="commande('bold');" />
    <form method="post" id="myForm"> 
      <div id="editor" contentEditable>
        {% for sentence in sentences %}

          <p> {{ sentence | safe }} </p>

        {% endfor %}
      </div>
      <input type="hidden" id="hiddenInput" name="da">
      <input type="button" value="Sauver" onclick="saveForm()">
      <input type="button" onclick="updateForm();" value="Mettre &agrave; jour" />
      <br />
    </form>
    <div id="responseArea"></div>
    <script>
      function copyContent() {
          var divHTML = document.getElementById("editor").innerHTML;
          document.getElementById("hiddenInput").value = divHTML;
      }
      function saveForm() {
          copyContent()
          var formElement = document.getElementById('myForm');
          var data = new FormData(formElement);
          fetch('/editor/save/' + {{ lesson_nb }}, {
                method: 'POST',
                body: data,
              })
              .then(resp => resp.text())  // or, resp.json(), etc.
              .then(data => {
                document.getElementById("responseArea").innerHTML = data;
              })
              .catch(error => {
                console.error(error);
              });
      }
      function updateForm() {
          copyContent()
          var formElement = document.getElementById('myForm');
          var data = new FormData(formElement);
          fetch('/editor/update/' + {{ lesson_nb }}, {
                method: 'POST',
                body: data,
              })
              .then(resp => resp.text())  // or, resp.json(), etc.
              .then(data => {
                document.getElementById("editor").innerHTML = data;
              })
              .catch(error => {
                console.error(error);
              });
          console.log("In updateForm");
          console.log(document.getElementById("editor").innerHTML)
    
      }

      function commande(nom, argument) {
        if (typeof argument === 'undefined') {
          argument = '';
        }
        switch (nom) {
          case "createLink":
            argument = prompt("Quelle est l'adresse du lien ?");
            break;
          case "insertImage":
            argument = prompt("Quelle est l'adresse de l'image ?");
            break;
        }
        // Exécuter la commande
        document.execCommand(nom, false, argument);
      }

    </script>
<address></address>
<!-- hhmts start -->Last modified: Sun Aug  4 20:44:20 CEST 2024 <!-- hhmts end -->
</body> </html>

