<style>
    h1,
    h2,
    h3,
    h4 {
        margin: 0.1rem 0;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
        padding-left: 20px;
        color: rgba(122,29,1,255)
    }

    h3 {
        font-size: 1.2rem;
        padding-left: 40px;
    }

    h4 {
        font-size: 1rem;
        font-style: italic;
        padding-left: 60px;
    }

    p {
        padding-left: 40px;
    }

    li {
        display: inline;
    }

    a {
        text-decoration: none;
    }

    li :last-child a {
        margin-right: 0;
    }

   li a[id^='id_']:link, li a[id^='id_']:visited, li a[id^='id_']:focus {
        background: yellow;
    }

    li a[id^='id_']:hover {
        background: orange;
    }

    li a[id^='id_']:active {
        background: red;
        color: white;
    }

    li span a[id^='id_']:link, li span a[id^='id_']:visited, li span a[id^='id_']:focus {
        background: lightgreen;
    }

    li span a[id^='id_']:hover {
        background: orange;
    }


 </style>

<p></p>
<p></p>
    {% for row in rows %}
        {% set outer_loop = loop %}
        <div>
            <h2>Lección {{lessons[loop.index0]}}</h2>
            <p>
                <ul>
                    {% for history_date_time, errors_number in row %}
                        {% set date_time_key = history_date_time.strftime('%d-%m-%Y %H:%M:%S%f') %}
                        {% if errors_number %}
                            <li><a id='id_1' href='/lesson-errors/?lesson={{lessons[outer_loop.index0]}}&datetimekey={{date_time_key}}'>{{history_date_time.strftime('%d-%m-%Y %H:%M:%S')}}  </a></li>
                        {% else %}
                            <li><span><a id= 'id_1' href='/lesson-errors/?lesson={{lessons[outer_loop.index0]}}&datetimekey={{date_time_key}}'>{{history_date_time.strftime('%d-%m-%Y %H:%M:%S')}}</a></span></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </p>
        </div>
       
 
    {% endfor %}



