<html>
<head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <style>
      .myDiv {
        display: table;
      }
      div div {
        display: table-row;
      }
      div div label, div div input {
        display: table-cell;
        margin-bottom: 20px;
        margin-right: 20px;
      }
      div div input {
        margin-left: 10px;
      
      }
      </style>
</head>
<body>
  <h1><a href="{{ url_for('display_errors')}}">Erreurs </a></h1>
    <div class="myDiv">
      <div>
        <label for="firstLesson">Première leçon :</label>
        <input type="number" id="firstLesson" name="firstLesson" value="1" min="1" max="100"/>
        <label for="lastLesson">Dernière leçon :</label>
        <input type="number" id="lastLesson" name="lastLesson" value="100" min="1" max="100"/>
      </div>
      <div>
        <label for="oldestLesson">Leçon la plus ancienne:</label>
        <input type="date" id="oldestLesson" name="oldest-lesson" value="2022-08-31" min="2022-08-30"/>
        <label for="mostRecentLesson">Leçon la plus récente:</label>
        <input type="date" id="mostRecentLesson" name="most-recent-lesson" value="{{date}}" mxn="{{date}}"/>
      </div>
    </div>
    <button onclick="proceedSearch()">Rechercher</button>
    <form method="post" id="myForm">  
 
      <div id="div01">
        {% for sentence in sentences %}

        <p onClick="playSentence({{loop.index0}})" oncontextmenu="nextSentence({{loop.index}})"> {{ sentence | safe }} </p>

        {% endfor %}
      </div>
    </form>

    <audio id="audioTag" src=""/>
 
    <script>

      const div = document.getElementById("div01");
      div.addEventListener("contextmenu", (e) => {e.preventDefault()});

      function playSentence(val) {
        audioRef = "audio/?".concat("lesson_nb=", {{lesson_nb}},"&sentence_nb=", val)
        console.log(audioRef)
        var audioEl = document.getElementById("audioTag");
        audioEl.src = audioRef

        audioEl.load();
        audioEl.play();

      }

      function nextSentence(val) {
        audioRef = "audio/?".concat("lesson_nb=", {{lesson_nb}},"&sentence_nb=", val)
        console.log(audioRef)
        var audioEl = document.getElementById("audioTag");
        audioEl.src = audioRef

        audioEl.load();
        audioEl.play();
        e.stopPropagation();
        e.preventDefault();
        
      }

      function proceedSearch() {
        var firstLesson =  document.getElementById("firstLesson").value
        console.log("firstLesson", firstLesson)
        var lastLesson = document.getElementById("lastLesson").value
        console.log("lastLesson", lastLesson)
        var oldestLesson = document.getElementById("oldestLesson").value
        console.log("lastLesson", oldestLesson)
        var mostRecentLesson =  document.getElementById("mostRecentLesson").value
        console.log("mostRecentLesson", mostRecentLesson)
      }
    </script>

</body>
</html>
