<style>
    h1,
    h2,
    h3,
    h4 {
        margin: 0.1rem 0;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
        padding-left: 20px;
        color: rgba(122,29,1,255)
    }

    h3 {
        font-size: 1.2rem;
        padding-left: 40px;
    }

    h4 {
        font-size: 1rem;
        font-style: italic;
        padding-left: 60px;
    }

    p {
        padding-left: 40px;
    }

    a[id^='id_'] {
        text-decoration: none;
        display: inline;
        
    }

   a[id^='id_']:link {
        padding: 10px;
        margin-right: 10px;
        background: yellow;
    }

    a[id^='id_']:hover, span a[id^='id_']:hover {
        padding: 10px;
        margin-right: 10px;
        background: orange;
    }


    a[id^='id_']:active, span a[id^='id_']:active {
        background: red;
        padding: 10px;
        margin-right: 10px;
        color: white;
    }

    span a[id^='id_']:link, span a[id^='id_']:visited, span a[id^='id_']:focus {
        background: lightgreen;
        padding: 10px;
        margin-right: 10px;
    }

    span a[id^='id_']:hover {
        padding: 10px;
        margin-right: 10px;
        background: orange;
    }
 
    span a[id^='id_']:active {
        background: red;
        padding: 10px;
        margin-right: 10px;
        color: white;
    }

    h2 {
        padding: 20px;
        display: table-cell;
        width: 100px
    }

    h1 {
        padding: 3px;
    }

    .histrow {
        display: table-row;
        margin: 0 auto;
    }
    .history {
        display: table;
     }
</style>
<p>  </p>
<h1>Sessions groupées par leçon</h1>
    {% for row in rows %}
        {% set outer_loop = loop %}
            <div class="history">
                <div class="histrow">
                    <h2>Leçon {{lessons[loop.index0]}}</h2>
                    {% for history_date_time, errors_number in row %}
                        {% set date_time_key = history_date_time.strftime('%d-%m-%Y %H:%M:%S%f') %}
                        {% if errors_number %}
                            <a id='id_1' href='/lesson-errors/?level={{lessons[outer_loop.index0][0]}}&lesson_nb={{lessons[outer_loop.index0][1]}}&datetimekey={{date_time_key}}'>{{history_date_time.strftime('%d-%m-%Y %H:%M:%S')}}</a>
                        {% else %}
                            <span><a id= 'id_1' href='/lesson-errors/?level={{lessons[outer_loop.index0][0]}}&lesson_nb={{lessons[outer_loop.index0][1]}}&datetimekey={{date_time_key}}'>{{history_date_time.strftime('%d-%m-%Y %H:%M:%S')}}</a></span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
       
 
    {% endfor %}



