{% extends "base.html" %}
{% block add_style %}

  #activeBox,
  #comment {
    border: solid blue;
    border-width: 2px 2px;
  }

  .A {
    background-color: orange;
    color: black; 
  }
  .B {
    background: rgba(128, 128, 128, 0.377);
    color: black; 
  }
  .E {
    background: greenyellow;
    color: black; 
  }
  .G {
    background-color: rgba(152, 27, 198, 0.75);
    color: black; 
  }
  .O {
    background: rgba(27, 75, 198, 0.75);
    color: black; 
  }
  .S {
    background: yellow;
    color: black; 
  }
  .V {
    background: rgba(198, 27, 144, 0.75);
    color: black; 
  }
  #select {
    width: 32px;
    height: 32px;
    font-weight: bold;
  }
 
{% endblock %}

{% block header %}
  <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">


{% endblock %}

{% block content %}

  {% import 'lesson_counter.j2' as counter %}
    
  {{ counter.lesson_counter(lesson_nb) }}

  <button id="toggleAll" value="S" onclick="toggleFrench()">En mode son</button>
    {% set count = namespace(value=2) %}
    <h2 class="assimil-title" id="id_0" onClick="proceedSentence(0)"> {{ lesson[0] | safe }} </h2>
    <h2 id="id_1" onClick="proceedSentence(1)"> {{ lesson[1] | safe }} </h2>
    <div class="lesson-container">
      {% for paragraph in lesson[2:] %}
        <p id="id_{{ count.value }}" onClick="proceedSentence({{ count.value }})"><label class="line-nr">{{ paragraph[0] }}</label><label class="dialogue-dash"> {% if paragraph[1] %} — {% endif %}</label>{{ paragraph[2] | safe }}</p>
        {% set count.value = count.value + 1 %}
      {% endfor %}
    </div>
    {% if exercise1 %}
      <h2 id="id_{{ count.value }}" onClick="proceedSentence({{ count.value }})">{{ exercise1[0][2] | safe }}</h2>
      <div class="lesson-container">
        {% set count.value = count.value + 1 %}
        {% for paragraph in exercise1[1:] %}
          <p id="id_{{ count.value }}" onClick="proceedSentence({{ count.value }})"><label class="line-nr">{{ paragraph[0] }}</label><label class="dialogue-dash">  — </label>{{ paragraph[2] | safe }}</p>
          {% set count.value = count.value + 1 %}
        {% endfor %}
      </div>
    {% endif %}

    <audio id="audioTag" src=""/>
 

    <script>

      {{ counter.changeLessonFunction("/first-phase/") }}

      french_sentences = [
        "{{french_sentences[0]}}",
        "{{french_sentences[1]}}",
        {% for sentence in french_sentences[2:] %}
            "{{ sentence[2] | safe }}",
        {% endfor %}
      ];


      modified_spanish_sentence = "";
      var current_sentence_id = "id_0";
      
      function playSentence(val) {
        audioRef = "audio/?".concat("lesson_nb=", {{lesson_nb}},"&sentence_nb=", val)
        console.log(audioRef)
        var audioEl = document.getElementById("audioTag");
        audioEl.src = audioRef

        audioEl.load();
        audioEl.play();

      }

      function proceedKeyboard(event) {
        console.log(event.key);
        sentences_number = french_sentences.length;
        id = parseInt(current_sentence_id.substring(3, current_sentence_id.length));
        console.log(id);
        if (event.key == "ArrowUp") {
          id = (id - 1) % sentences_number;
          if (id < 0) {
            id = sentences_number - 1;
            console.log("----- id : ", id)
          }
        } else if (event.key == " ") {
          // Space touch, repeat the sentence with the same id
        } else {
          id = (id + 1) % sentences_number;
        }
        proceedSentence(id);
      }

      function stopKeyboardPropagation(event) {
        console.log("in stopKeyboardPropagation", event);
        event.stopPropagation()
      }
      
      var button = document.getElementById("lesson_nb");
      button.addEventListener(
        "keydown",
        stopKeyboardPropagation
      );
     
      document.addEventListener(
        "keydown",
        proceedKeyboard
      );


      function toggleFrench() {
        var button = document.getElementById("toggleAll");
        if (button.value == "S") {
          button.value = "T";
          button.innerHTML = "En mode traduction";
          precedingNode = document.getElementById(current_sentence_id);
          modified_spanish_sentence = precedingNode.innerHTML;
          precedingNode.innerHTML = french_sentences[parseInt(current_sentence_id.substring(3, current_sentence_id.length))];
        } else {
          button.value = "S";
          button.innerHTML = "En mode son";
          if (modified_spanish_sentence) {
            precedingNode = document.getElementById(current_sentence_id);
            precedingNode.innerHTML = modified_spanish_sentence;
            playSentence(parseInt(current_sentence_id.substring(3, current_sentence_id.length)));

          }

        }
      }
                
        function insertAfter(referenceNode, newNode) {
            referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
        }

   
      function proceedSentence(value, play=true) {
        console.log(value);
        let id = "id_" + value;
          
        console.log(id);
        var button = document.getElementById("toggleAll");
        let clickedNode = document.getElementById(id);
        clickedNode.style.border = "solid blue";
        clickedNode.style.padding = "20px 200px 20px 20px";
        clickedNode.style.borderWidth = "2px 2px";
        clickedNode.style.fontSize = "x-large";;
        if (!(current_sentence_id == id)) {
          document.getElementById(current_sentence_id).style.padding = "";
          document.getElementById(current_sentence_id).style.border = "";
          document.getElementById(current_sentence_id).style.fontSize = "";
        }
        if (button.value === "S") {
          playSentence(value);
        } else {
          if (modified_spanish_sentence) {
            precedingNode = document.getElementById(current_sentence_id);
            precedingNode.innerHTML = modified_spanish_sentence;
          }
          modified_spanish_sentence = clickedNode.innerHTML;
          console.log(modified_spanish_sentence);
          clickedNode.innerHTML = french_sentences[value];
        }
        current_sentence_id = id;
      };


    
    </script>
{% endblock %}
