{% extends "base.html" %}
{% block add_style %}


{% include 'display-spanish-paragraphs-style.jinja' %}

{% endblock %}

{% block header %}
  <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">


{% endblock %}

{% block content %}

  {% import 'lesson_counter.j2' as counter %}
    
  {{ counter.lesson_counter(lesson_nb) }}

  {% include 'display-spanish-paragraphs-html.jinja' %}

  <script>

      {{ counter.changeLessonFunction("/first-phase/") }}

      {% include 'display-spanish-paragraphs-script.jinja' %}
    </script>
{% endblock %}
