{% extends "base.html" %}


{% block content %}
<h1>l'espagnol, basé sur la méthode assimil</h1>
<p>Le menu permet d'accéder au différents modules correspondant aux différents champs</p>
<p>Pour un débutant, il faudrait commencer par le module "Leçons" et bien sûr la première</p>
<p>Ensuite, dans la 2ème phase, après avoir déjà étudié les 50 premières leçons, on revient à la première leçon et on peut alors utiliser le module "Editeur d'erreurs"</p>
<p>On peut alors par la suite réviser les paragraphes qui ont posé problème en utilisant le module Historique</p>
 
{% endblock %}


<!-- EXAMPLE FOR LOADING IMAGE IN CSS AND STYLE AND HTML SRC ATTRIBUTE.
    <div id="main" style="background-image: url({{ url_for('static', path='/images/assimil-espagnol.jpg') }})">
    <input type="image" src={{ url_for('static', path='/icons/correction.svg')}} alt="Correction" width="32" onclick="correct();" />
 
-->
