<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
	<title>{{ lesson_nb }}</title>
	<link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>

<body>
    <h1><a href="{{ url_for('display_lesson', lesson_nb = lesson_nb)}}">Leçon : {{ lesson_nb }}</a></h1>

<div>N1-Lec<b>ción </b>pri<b>me</b>ra</div><div><br></div><div>S00-TITLE-¡Qué sorp<b>re</b>sa!</div><div><br></div><div>S01-¡<b>Ho</b>la, <b>Lau</b>ra!</div><div><br></div><div>S02-¡<b>Ho</b>la, <b>Pa</b>co, qué sor<b>pre</b>sa!</div><div><br></div><div>S03-¿<b>Có</b>mo es<b>tás</b>, <b>gua</b>pa?</div><div><br></div><div>S04-¡Bien, <b>gra</b>cias! ¿Y tú, qué tal?</div><div><br></div><div>S05-Es<b>toy </b>pa<b>chu</b>cho…</div><div><br></div><div>T00-TRANSLATE-Ejer<b>ci</b>cio 1 – Tra<b>du</b>zca</div><div><br></div><div>T01-¿Qué tal?</div><div><br></div><div>T02-¿<b>Có</b>mo es<b>tás</b>?</div><div><br></div><div>T03-¡<b>Ho</b>la, <b>gua</b>pa, qué sor<b>pre</b>sa!</div><div><br></div><div>T04-¿Es<b>tás </b>pa<b>chu</b>cho?</div><div><br></div><div>T05-Es<b>toy</b> bien, <b>gra</b>cias.</div>

<hr>
<address></address>
<!-- hhmts start -->Last modified: Sun Jul 28 19:21:52 CEST 2024 <!-- hhmts end -->
</body> </html>
