{% extends "base.html" %}
{% block header %}
  <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">

  <script>

    const div = document.getElementById("div01");
    div.addEventListener("contextmenu", (e) => {e.preventDefault()});

    function playSentence(val) {
      audioRef = "audio/?".concat("lesson_nb=", {{lesson_nb}},"&sentence_nb=", val)
      console.log(audioRef)
      var audioEl = document.getElementById("audioTag");
      audioEl.src = audioRef

      audioEl.load();
      audioEl.play();

    }

    function nextSentence(val) {
      audioRef = "audio/?".concat("lesson_nb=", {{lesson_nb}},"&sentence_nb=", val)
      console.log(audioRef)
      var audioEl = document.getElementById("audioTag");
      audioEl.src = audioRef

      audioEl.load();
      audioEl.play();
      e.stopPropagation();
      e.preventDefault();
      
    }

  </script>
{% endblock %}

{% block content %}

  {% import 'lesson_counter.j2' as counter %}
    
  {{ counter.lesson_counter(lesson_nb) }}


    <div id="div01">
      {% for sentence in sentences %}

        <p onClick="playSentence({{loop.index0}})" oncontextmenu="nextSentence({{loop.index}})"> {{ sentence | safe }} </p>

      {% endfor %}
    </div>

    <audio id="audioTag" src=""/>
 
    <script>
      {{ counter.changeLessonFunction("/espagnol/") }}
    </script>

{% endblock %}