<!DOCTYPE html>
<header>
  
  <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
  
  <style>
    {% include 'display-spanish-paragraphs-style.jinja' %}
    {% include 'mark-style.css' %}
    .main {
            
      margin-left: 20%;
      padding: 1px 16px;
    }

    h2 {
      font-weight: normal;
      }
    #div01 {
      overflow: scroll
    }
    </style>
</header>
<body>
    {% import 'lesson_counter.j2' as counter %}
    <div class="main">
      <h1 class="assimil-title">Leçon {{lesson_nb}} : Session du {{date_time}}</h1>
      {% include 'display-spanish-paragraphs-html.jinja' %}
    </div>
      <audio id="audioTag" src=""/>

      <script>
        {% include 'display-spanish-paragraphs-script.jinja' %}
      </script>
</body>
</html>