{% macro lesson_counter(lesson_nb) -%}
   <h1>
      <label for="lesson_nb" style="height: 2em;">Leçon:</label>
      <input type="number" id="lesson_nb" name="lesson_nb" value="{{lesson_nb}}" min="1" max="100" style="height: 2em;"/>
      <input type="button" id="changeLesson" value="Changer" class="changelesson" onclick="proceedChangeLesson()"  style="height: 2em;"/>
    </h1>

{%- endmacro -%}

{% macro changeLessonFunction(base_page_url) -%}
        function proceedChangeLesson() {
          var lesson_nb = document.getElementById("lesson_nb").value
          url = parseInt(lesson_nb);
          console.log("in lesson_counter with url : ", url)
          location.href = url;

        }
        counter = document.getElementById('lesson_nb');
        counter.addEventListener('change', () => {
            proceedChangeLesson();
        });

{%- endmacro -%}
