{% extends "base.html" %}
{% block add_style %}

  #spanish,
  #comment {
    border: solid blue;
    border-width: 2px 2px;
  }

  .A {
    background-color: orange;
    color: black; 
  }
  .B {
    background: rgba(128, 128, 128, 0.377);
    color: black; 
  }
  .E {
    background: greenyellow;
    color: black; 
  }
  .G {
    background-color: rgba(152, 27, 198, 0.75);
    color: black; 
  }
  .O {
    background: rgba(27, 75, 198, 0.75);
    color: black; 
  }
  .S {
    background: yellow;
    color: black; 
  }
  .V {
    background: rgba(198, 27, 144, 0.75);
    color: black; 
  }
  #select {
    width: 32px;
    height: 32px;
    font-weight: bold;
  }
  #clear-tool {
    width: 32px;
    height: 32px;
  }
  
  #toolbar {
    width: 500px;
  }
  h2 {
    font-weight: normal;
  }

{% endblock %}

{% block header %}
  <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">


{% endblock %}

{% block content %}

  {% import 'lesson_counter.j2' as counter %}
    
  {{ counter.lesson_counter(lesson_nb) }}

    <button id="toggleAll" onclick="toggleSpanish()">Montrer l'Espagnol</button>
    <button id="togglemark" onclick="toggleMark()"">Boîte de marquage</button>
    <button id="store" onclick="storeMark()"">Enregistrer le marquage</button>
    <div id="spanish">
      <div id="toolbar">
        <input type="button" id="select" value="S" class="S" onclick="proceedSelection('MARK', 'S')" />
        <input type="button" id="select" value="A" class="A" onclick="proceedSelection('MARK', 'A')" />
        <input type="button" id="select" value="G" class="G" onclick="proceedSelection('MARK', 'G')" />
        <input type="button" id="select" value="O" class="O" onclick="proceedSelection('MARK', 'O')" />
        <input type="button" id="select" value="V" class="V" onclick="proceedSelection('MARK', 'V')" />
        <input type="button" id="select" value="E" class="E" onclick="proceedSelection('MARK', 'E')" />
        <input type="button" id="select" value="B" class="B" onclick="proceedSelection('MARK', 'B')" />
        <input type="image" id="clear-tool" src={{ url_for('static', path='/icons/clear-selection.png')}} onclick="proceedSelection('CLEAR')" />

      </div>
      <p id="translation"></p>
      <div id="comment" contentEditable></div>
    </div>
    <div id="div01">
        {% set count = namespace(value=2) %}
        <h2 class="assimil-title" id="id_0" onClick="fillSpanishBox(0)"> {{ lesson[0] }} </h2>
        <h2 id="id_1" onClick="fillSpanishBox(1)"> {{ lesson[1] }} </h2>
            {% for sentence in lesson[2:] %}
                <p id="id_{{ count.value }}" onClick="fillSpanishBox({{ count.value }})"> {{ sentence | safe }} </p>
                {% set count.value = count.value + 1 %}
            {% endfor %}
            {% if exercise1_correction %}
              <h2 id="id_{{ count.value }}" onClick="fillSpanishBox({{ count.value }})">{{ exercise1_correction[0] }}</h2>
              {% set count.value = count.value + 1 %}
              {% for sentence in exercise1_correction[1:] %}
                  <p id="id_{{ count.value }}" onClick="fillSpanishBox({{ count.value }})"> {{ sentence | safe }} </p>
                  {% set count.value = count.value + 1 %}
              {% endfor %}
            {% endif %}

    </div>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <audio id="audioTag" src=""/>
 

    <script>

      {{ counter.changeLessonFunction("/second-phase/") }}

      spanish_sentences = [
        {% for sentence in spanish_sentences %}
            "{{ sentence | safe }}",
        {% endfor %}
      ];


      modified_spanish_sentences = {};

      commentBuffer = [""];
      commentIndex = 0;
      commentNumber = 1;

      let markToBeSaved = false; // Variable pour suivre si les données ont été modifiées

      function markNotYetSaved() {
        markToBeSaved = true;
      }

      function markSaved() {
        markToBeSaved = false;
      }

      window.addEventListener('beforeunload', (event) => {
        if (markToBeSaved) {
          event.returnValue = 'Des phrases ont été marquées et ne sont pas encore sauvée. Êtes-vous sûr de vouloir quitter ?';
        }
      });

       function playSentence(val) {
            audioRef = "audio/?".concat("lesson_nb=", {{lesson_nb}},"&sentence_nb=", val)
            console.log(audioRef)
            var audioEl = document.getElementById("audioTag");
            audioEl.src = audioRef

            audioEl.load();
            audioEl.play();

        }


        document.getElementById("spanish").style.display = "none";
        document.getElementById("comment").style.display = "none";
        document.getElementById("toolbar").style.display = "none";
        commentNode = document.getElementById("comment")
        commentNode.addEventListener(
        "keydown",
        editComment
      );

      function editComment(event) {
          if (event.key == "ArrowUp") {
            commentIndex = (commentIndex - 1) % commentNumber;
            if (commentIndex < 0) {
              commentIndex = commentNumber - 1;
            }
            commentNode.innerHTML = commentBuffer[commentIndex];
          } else if (event.key == "ArrowDown") {
            commentIndex = (commentIndex + 1) % commentNumber;
            commentNode.innerHTML = commentBuffer[commentIndex];
          } else {

          }
      }
      
      function toggleSpanish() {
            var x = document.getElementById("spanish");
            if (x.style.display === "none") {
                x.style.display = "block";
                var button = document.getElementById("toggleAll");
                button.innerHTML = "Cacher l'espagnol";
            } else {
                x.style.display = "none";
                var button = document.getElementById("toggleAll");
                button.innerHTML = "Montrer l'espagnol";
            }
        }

        function toggleNode(node_name) {
          var x = document.getElementById(node_name);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function toggleMark() {
          toggleNode("comment");
          toggleNode("toolbar");
          let translation = document.getElementById("translation");
          var x = document.getElementById("comment");
          value_id = translation.parentNode.previousSibling.getAttribute("id");
          value = value_id.substring(3, value_id.length)
          var sentence = document.getElementById(value_id)
          if (x.style.display === "none") {
            translation.setAttribute("onClick", "playSentence(" + value + ")")
          } else {
            translation.setAttribute("onClick", "")
          }
        }

        function insertAfter(referenceNode, newNode) {
            referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
        }

   
        function fillSpanishBox(value) {

          let id = "id_" + value;
          let translation = document.getElementById("translation");
          let spanishNode = document.getElementById("spanish");
          let clickedNode = document.getElementById(id);
          insertAfter(clickedNode, spanishNode)
          translation.innerHTML = spanish_sentences[value];
          var x = document.getElementById("comment");
          if (x.style.display === "none") {
            translation.setAttribute("onClick", "playSentence(" + value + ")")
          } else {
            translation.setAttribute("onClick", "")
          }
        };


    
        fillSpanishBox(0)

    function proceedSelection(action, markType = "") {
        const userSelection = window.getSelection();
        anchorNode = userSelection.anchorNode;
        anchorOffset = userSelection.anchorOffset;

        focusOffset = userSelection.focusOffset;
        focusNode = userSelection.focusNode;

        if (anchorNode === focusNode) {
          focusNodeIsAnchorNode = true;
        } else {
          focusNodeIsAnchorNode = false;
        }

        function serializeDOMElement(element) {

          if (element.tagName) {
            tagName = element.tagName.toLowerCase();
          } else {
            tagName = "";
          }
          
          var status;

          if (element === anchorNode && element === focusNode) {
            status = "isAnchorAndFocus";
          } else if (element === anchorNode) {
            status = "isAnchor";
          } else if (element === focusNode) {
            status = "isFocus";
          } else {
            status = "";
          }
         
          const obj = {
            tagName: tagName,
            status: status,
            attributes: {},
            children: [],
            textContent: element.textContent
          };
          
          // Récupérer les attributs de l'élément
          if (element.attributes) {
            for (let attr of element.attributes) {
              obj.attributes[attr.name] = attr.value;
            }
          };
          // Récupérer les enfants de l'élément
          if (element.childNodes) {
            for (let child of element.childNodes) {
              obj.children.push(serializeDOMElement(child));
            }
          }

          return obj;
        }

        const translation = document.getElementById("translation"); // Sélectionner l'élément à sérialiser
        const serializedTranslationElement = serializeDOMElement(translation);
        const translationJsonString = JSON.stringify(serializedTranslationElement, null, 2);

        const commentElement = document.getElementById("comment"); 

        const comment = commentElement.textContent

        item = {
                "anchorOffset" : anchorOffset,
                "focusOffset" : focusOffset,
                "editorDomString" : translationJsonString,
                "comment" : comment,
                "markType" : markType,
                "action" : action,
               }

        var data = JSON.stringify(item);

        fetch('/marker-editor/' + {{ lesson_nb }}, {
               method: 'POST',
               headers: {
                 'Accept': 'application/json',
                 'Content-Type': 'application/json'
               },
               body: data,
              })
              .then(resp => resp.text())  // or, resp.json(), etc.
              .then(data => {
                document.getElementById("translation").innerHTML = data.substring(1, data.length-1);
                value_id = translation.parentNode.previousSibling.getAttribute("id");
                value = parseInt(value_id.substring(3, value_id.length));
                markNotYetSaved();
                spanish_sentences[value] = data.substring(1, data.length-1);
                modified_spanish_sentences[value] = data.substring(1, data.length-1);
                if (!(comment.trim().length === 0)) {
                  commentBuffer.push(comment);
                  commentNumber += 1;
                }
                commentElement.innerHTML = "";
                commentIndex = 0;
 
              })
              .catch(error => {
            });

      }

      function storeMark() {
        item = {"marked_sentences" : modified_spanish_sentences};
        var data = JSON.stringify(item);

        fetch('/marker-translation/' + {{ lesson_nb }}, {
               method: 'POST',
               headers: {
                 'Accept': 'application/json',
                 'Content-Type': 'application/json'
               },
               body: data,
              })
              .then(resp => resp.text())  // or, resp.json(), etc.
              .then(data => {
                 markSaved();
                 alert("Les erreurs ont bien été enregistées");
              })
              .catch(error => {
            });

      }

    </script>
{% endblock %}
