<style>
    th {
        text-align: center;
    }
    table, td, th {
        border: 1px solid black;
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }

</style>
<table>     
    <caption>Erreurs trouvées</caption>
    <tr>
      <th scope="col">Leçon</th>
      <th scope="col" colspan="3" style="text-align:center;">Dates</th>
      
    </tr>
    
        <tr>
            <th scope="row">4</th>
                
                
                    
                        <td><button onclick='loadLesson(0, 0)'>30-08-2024 18:11:11</button></td>
                    
                
                    
                        <td><button onclick='loadLesson(0, 1)'>30-08-2024 18:37:31</button></td>
                    
                
                    
                        <td><button onclick='loadLesson(0, 2)'>31-08-2024 17:32:18</button></td>
                    
                
          </tr>

     
        <tr>
            <th scope="row">5</th>
                
                
                    
                        <td><button onclick='loadLesson(1, 0)'>30-08-2024 18:12:05</button></td>
                    
                
                    
                        <td><button onclick='loadLesson(1, 1)'>31-08-2024 17:33:16</button></td>
                    
                
              
          </tr>

     
        <tr>
            <th scope="row">45</th>
                
                
                    
                        <td><button onclick='loadLesson(2, 0)'>30-08-2024 18:13:24</button></td>
                    
                
               
          </tr>

     
        <tr>
            <th scope="row">97</th>
                
                
                    
                        <td><button onclick='loadLesson(3, 0)'>31-08-2024 17:34:03</button></td>
                    
                
           </tr>

     
  </table>

  <script>
          
    function loadLesson(row, col) {
        console.log(row);
        console.log(col);

      }

  </script>