<div id="editor">
    {% set count = namespace(value=2) %}
    <h2 class="assimil-title" id="id_0" onClick="proceedSentence(0)"> {{ lesson[0] | safe }} </h2>
    <h2 id="id_1" onClick="proceedSentence(1)"> {{ lesson[1] | safe }} </h2>
    <div class="lesson-container">
      {% for paragraph in lesson[2:] %}
        <p id="id_{{ count.value }}" onClick="proceedSentence({{ count.value }})"><label class="line-nr">{{ paragraph[0] }}</label><label class="dialogue-dash"> {% if paragraph[1] %} — {% endif %}</label><label>{{ paragraph[2] | safe }}</label></p>
        {% set count.value = count.value + 1 %}
      {% endfor %}
    </div>
    {% if exercise1 %}
      <h2 id="id_{{ count.value }}" onClick="proceedSentence({{ count.value }})">{{ exercise1[0][2] | safe }}</h2>
      <div class="lesson-container">
        {% set count.value = count.value + 1 %}
        {% for paragraph in exercise1[1:] %}
          <p id="id_{{ count.value }}" onClick="proceedSentence({{ count.value }})"><label class="line-nr">{{ paragraph[0] }}</label><label class="dialogue-dash">  — </label><label>{{ paragraph[2] | safe }}</label></p>
          {% set count.value = count.value + 1 %}
        {% endfor %}
      </div>
    {% endif %}
</div>
 

